{% load pickertags %}{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{{SITENAME}}{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load_css %}
	<style type="text/css">
	body{
		padding-top: 50px;
	}
	</style>
</head>
<body class="{% block bodyclass %}{% endblock %}">
	{% block body %}
	<header>
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				    </button>
					<a class="brand" href="/">{{SITENAME}}</a>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		Hello world!
	</div>
	{% endblock body %}
	{% load_js %}
	<script type="text/javascript" src="{% static 'highstock/js/highstock.js' %}"></script>
	<script type="text/javascript" src="{% static 'highstock/js/modules/exporting.js' %}"></script>
	<script type="text/javascript" src="{% static 'highstock/js/themes/dark-unica.js' %}"></script>
	<script type="text/javascript" src="{% static 'highstock/js/technical-indicators.src.js' %}"></script>
</body>
</html>